{% extends 'navbar.html' %} 
{% block body %}

        <!-- main content -->
        <div class="main-content bg-lightblue theme-dark-bg right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    <div class="middle-wrap">
                        <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                            <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                                <a href="settings" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
                                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Edit Profile </h4>
                            </div>
                            <div class="card-body p-lg-5 p-4 w-100 border-0 ">
                            

                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                 

                                <div class="row">
                                    
                                    <div class="col-lg-6 mb-3 row justify-content-center">
                                        <div class="col-lg-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 mt-2 w100"><img src="{{user_profile.profileimg.url}}" alt="image"
                                                    class="shadow-sm rounded-3 w-100"></figure>
                                            <h2 class="fw-700 font-sm text-grey-900 mt-3">{{user.username}}</h2>
                                            <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4">
                                                {% if user_profile.type == 1 %}
                                                    Personal  
                                                {% elif user_profile.type == 2 %}
                                                    Company  
                                                {% endif %}

                                            </h4>
                                            <!-- <a href="#" class="p-3 alert-primary text-primary font-xsss fw-500 mt-2 rounded-3">Upload New Photo</a> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="card mt-3 border-0">
                                            <div class="card-body d-flex justify-content-between align-items-end p-0">
                                                <div class="form-group mb-0 w-100">
                                                    <input type="file" name="image" id="file" class="input-file">
                                                    <label for="file" class="rounded-3 text-center bg-white btn-tertiary js-labelFile p-2 w-100 border-dashed">
                                                    <i class="ti-cloud-down large-icon me-3 d-block"></i>
                                                    <span class="js-fileName">Drag and drop a new profile picture</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">

                                    {% if user_profile.type == 1 %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Name</label>
                                                <input type="text" class="form-control" name="name" value="{{user_profile.name}}">
                                            </div>
                                        </div>
                                    {% elif user_profile.type == 2 %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Company Name</label>
                                                <input type="text" class="form-control" name="name" value="{{user_profile.name}}">
                                            </div>
                                        </div>

                                        <input type="hidden"  name="surname" value=""> 

                                    {% endif %}


                                    {% if user_profile.type == 1 %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Surname</label>
                                                <input type="text" class="form-control" name="surname" value="{{user_profile.surname}}">
                                            </div>
                                        </div>
                                    {% endif %}


                                    
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Sector</label>
                                                <select class="form-control" name="sector" value="{{user_profile.sector}}">  
                                                    <option selected>{{user_profile.sector}}</option>
                                                    <option>Healthcare</option>
                                                    <option>Materials</option>
                                                    <option>Real Estate</option>
                                                    <option>Consumer Staples</option>
                                                    <option>Consumer Discretionary</option>
                                                    <option>Utilities</option>
                                                    <option>Energy</option>
                                                    <option>Industrials</option>
                                                    <option>Consumer Services</option>
                                                    <option>Financials</option>
                                                    <option>Technology</option>
                                                </select> 
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Field</label>
                                                <select class="form-control" name="domaine"> 
                                                    <option selected>{{user_profile.domaine}}</option>
                                                    <option>Agriculture, Food, & Natural Resources</option>
                                                    <option>Business, Management, & Administration</option>
                                                    <option>Communications & Information Systems</option>
                                                    <option>Engineering, Manufacturing, & Technology</option>
                                                    <option>Health Science Technology</option>
                                                    <option>Human Services</option>
                                                </select>
                                            </div>
                                        </div>

                                    {% if user_profile.type == 1 %}
                                    
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Degree</label>
                                                <select class="form-control" name="degree">
                                                    <option selected>{{user_profile.degree}}</option>
                                                    <option>Associate Degree</option>
                                                    <option>Bachelor's Degree</option>
                                                    <option>Master's Degree</option>
                                                    <option>Doctoral Degree</option>
                                                </select>
                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if user_profile.type == 1 %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Phone</label>
                                                <input type="text" class="form-control" name="phone" value="{{user_profile.phone}}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Birth</label>
                                                <input type="date" class="form-control" name="birth" value="{{ user_profile.birth|date:'Y-m-d'}}">
                                            </div>
                                        </div> 
                                    {% elif user_profile.type == 2 %}
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Business Phone</label>
                                                <input type="text" class="form-control" name="phone" value="{{user_profile.phone}}">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label class="mont-font fw-600 font-xsss">Establishment Date</label>
                                                <input type="date" class="form-control" name="birth" value="{{ user_profile.birth|date:'Y-m-d'}}">
                                            </div>
                                        </div>
                                    {% endif %}




                                    <div class="col-lg-12 mb-3">
                                        <label class="mont-font fw-600 font-xsss">Bio</label>
                                        <textarea class="form-control mb-0 p-3 h100   lh-16" rows="5" name="bio" spellcheck="false">{{user_profile.bio}}</textarea>
                                    </div>
                                </div>   
                                

                                
                                <hr>
                                <h2 class="mont-font fw-600 font-xs">
                                    Location, 
                                    <a href="/profileLocation">
                                        Find my location.
                                    </a>
                                         
                                </h2>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Country</label>
                                            <input type="text" class="form-control" name="country" value="{{ user_profile.location.country }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">City</label>
                                            <input type="text" class="form-control" name="city" value="{{ user_profile.location.city }}">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Region</label>
                                            <input type="text" class="form-control" name="region" value="{{ user_profile.location.region }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                         
                                    </div>
                                     
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Latitude</label>
                                            <input type="text" class="form-control" name="latitude" readonly value="{{ user_profile.location.latitude }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Longitude</label>
                                            <input type="text" class="form-control" name="longitude" readonly value="{{ user_profile.location.longitude }}">
                                        </div>
                                    </div>

                                </div>






                                <div class="col-lg-12">
                                    <center><input type="submit" style="border : none  ;" class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block"
                                        value="Save" /></center>
                                    
                                </div>
                                 

                            </form>
                            </div>
                        </div>
                        <!-- <div class="card w-100 border-0 p-2"></div> -->
                    </div>
                </div>
                 
            </div>            
        </div>
        <!-- main content -->

{% endblock %}              