{% extends 'navbar.html' %}
{% block body %}

<!-- main content -->
<div class="main-content bg-lightblue theme-dark-bg right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="middle-wrap">
                <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                    <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                        <a href="/professionalExperiences" class="d-inline-block mt-2"><i
                                class="ti-arrow-left font-sm text-white"></i></a>
                        <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Add Professional Experience </h4>
                    </div>
                    <div class="card-body p-lg-5 p-4 w-100 border-0 ">


                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

 

                            <div class="row">

                                  
                                <div class="col-lg-12 mb-3">
                                    <div class="form-group">
                                        <label class="mont-font fw-600 font-xsss">Company Name</label>
                                        <input type="text" class="form-control" name="company"
                                             >
                                    </div>
                                </div> 

                                 
 
                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label class="mont-font fw-600 font-xsss">Start Date</label>
                                        <input type="date" class="form-control" name="start"
                                             >
                                    </div>
                                </div> 

                                <div class="col-lg-6 mb-3">
                                    <div class="form-group">
                                        <label class="mont-font fw-600 font-xsss">End Date</label>
                                        <input type="date" class="form-control" name="end"  >
                                    </div>
                                </div>
 

                                <div class="col-lg-12 mb-3">
                                    <label class="mont-font fw-600 font-xsss">Tasks</label>
                                    <textarea class="form-control mb-0 p-3 h100   lh-16" rows="5" name="tasks"
                                        spellcheck="false"> </textarea>
                                </div>
                            </div>
                             
                            <div>
                                {% for message in messages %}
                                <h3 style="color:red">{{message}} </h3>
                                {% endfor %}
                            </div>

                            <div class="col-lg-12">
                                <center><input type="submit"
                                        class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block"
                                        value="Save" /></center>

                            </div>


                        </form>
                    </div>
                </div>
                <!-- <div class="card w-100 border-0 p-2"></div> -->
            </div>
        </div>

    </div>
</div>
<!-- main content -->

{% endblock %}